body {
    background-color: #A9D0F5;
}

.bg-image {
    height: 80vh;
    background-size: cover;
    background-position: center center;
}

.btn-purple {
    color: #fff;
    background-color: #A9D0F5;
    border-color: #A9D0F5;
}

div.main {
    margin-top: 75px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}